.light-blue {
  --background-color: #C1D5DC;
  --sub-background-color: #FFF;
  --text-color: #363636;
  --sub-text-color: #535360;
  --link-color: #48606d;
  --mode-badge-color: #34343B;
  --sub-menu-color: #deecf1;
  --menu-select-color: #f0f9fd;
}

.night {
  --background-color: #191919;
  --sub-background-color: #2d2d2d;
  --text-color: #bfbfc7;
  --sub-text-color: #898991;
  --link-color: #fff;
  --mode-badge-color: #adbac7;
  --sub-menu-color: #2d2d2d;
  --menu-select-color: #4d4d4d;
}
